<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>

    <section>

        <h1>this is new about section</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam dignissimos enim hic, nihil odio quis
            repellendus. Exercitationem impedit in nihil quasi! Ipsa placeat quasi quibusdam. Architecto consectetur
            doloribus error ex fugiat illo maxime minus nostrum obcaecati omnis perferendis, placeat porro quaerat quis
            reiciendis sequi similique suscipit tenetur ullam veritatis. Sint.</p>

    </section>

</body>
</html>