<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example</title>
    <link rel="stylesheet" href="" th:href="@{/css/mystyle.css}">
</head>
<body>

    <div class="container">

        <img src="" class="profile" th:src="@{/Image/profile.jpeg}" alt="">

     <h1>Adding CSS,JavaScript and Image in thymeleaf</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At consectetur dolore enim facilis incidunt natus
            sunt? Accusamus assumenda at atque beatae blanditiis corporis doloremque ducimus, ex id illo laboriosam
            magnam maxime minus molestiae natus necessitatibus nisi non nulla odio perspiciatis placeat, quia quod saepe
            similique sit totam ullam voluptatum. Dolores.</p>

    </div>

    <script src="" th:src="@{/js/myjs.js}"></script>

</body>
</html>